<h1>
  {{title}}
</h1>
<section class="empleado">
<label id="uno" for="exampleInputEmail1">Salario del empleado</label>
<input type="number" #salario name="" id="dos">
<button (click)="getValue(salario.value)"id="tres" type="submit">Calcular</button>
</section>

<section>

  <table class="tabla">
<thead>
  <tr>
    <th>Empleado</th>
    <th>Sueldo</th>
    <th>ISSS</th>
    <th>Renta</th>
    <th> AFP</th>
    <th> Total</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let salario of employeesSaldo; let i=index">
<th scope="row">{{i+1}}</th>
<td>${{(salario).toFixed(2)}}</td>
<td>${{(salario*0.057).toFixed(2)}}</td>
<td>${{(salario*0.11).toFixed(2)}}</td>
<td>${{(salario*0.051).toFixed(2)}}</td>
<td>${{((salario)-((salario*0.057)+(salario*0.11)+(salario*0.051))).toFixed(2)}}</td>
  </tr>
</tbody>
  </table>
</section>