h1{
    text-align: center;
}
.galo{
    margin-left: 70px;
    position: absolute;
}
.gal{
    margin-left: 520px;
}
.tipo{
    margin-left: 550px;
    margin-top: 20px;
}
.total{
    margin-left: 560px;
    margin-top: 30px;
}